body {
    margin: 0;
    overflow: hidden;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#menu {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

#controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.arrow-row, .wasd-row {
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}

#controls-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 310px;
    height: auto;
    background-color: rgba(79, 79, 79, 0.7);
    overflow-y: auto;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    color: #ffffff;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.sidebar-class {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: auto;
    background-color: rgba(79, 79, 79, 0.7);
    overflow-y: auto;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    color: #ffffff;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.sidebar-bottom {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: auto;
    background-color: rgba(79, 79, 79, 0.7);
    overflow-y: auto;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #ffffff;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}


.building-item {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 8px;
    background-color: rgba(52, 52, 52, 0.57);
    border-radius: 5px;
}

.building-item:hover {
    background-color: #622400;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 1
}

#glCanvas {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 20
}

#rendererCanvas {
    display: block;
}

.marker {
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    cursor: pointer;
    pointer-events: auto; /* Ensure it can be clicked */
    backdrop-filter: blur(2px);
    box-shadow: 0 0 20px rgba(204, 204, 204, 0.1);
}

#gui-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    z-index: 2;
}

#sketch-gui-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 280px;
    z-index: 2;
}

.text-small {
    font-size: 14px !important;
}